<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <p>Author is {{authorName}}</p>
        <p>copyright {{currentTime}}</p>
    </body>
</html>